#title {
  font-size: 70px;
  font-family: Poppins;
  font-weight: 600;
  color: white;
}

#subtitle {
  font-size: 62px;
  font-family: Poppins;
  font-weight: 300;
  color: white;
}

#location {
  font-size: 30px;
  font-family: Poppins;
  font-weight: 200;
  color: #a8a8a8;
}

#navbar {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
  color: white;
}
