#title {
  font-size: 72px;
  font-family: Poppins;
  font-weight: 600;
  color: white;
}

#subtitle {
  font-size: 48px;
  font-family: Poppins;
  font-weight: 300;
  color: white;
}

#location {
  font-size: 36px;
  font-family: Poppins;
  font-weight: 200;
  color: white;
}

#navbar {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 300;
  color: white;
}
