body {
  background-color: #111223;
}

.text {
  width: 1140px;
  height: 216px;
}

.container-text-location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
