.navbar-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 180px;
  .navbar-text {
    display: flex;
    align-items: center;

    a {
      margin: 0 31px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }
}
