.navbar-container {
  display: flex;
  flex-direction: row;

  .navbar-text {
    display: flex;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }
}
