.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  * {
    margin-bottom: 30px;
  }

  .container-subtitle {
    width: 700px;
  }
}

.navbar-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
