.main-container {
  display: flex;
  justify-content: space-around;
  .main-text {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;

    * {
      margin-bottom: 10px;
    }

    .container-subtitle {
      width: 700px;
    }
  }
}
