.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  * {
    margin-bottom: 15px;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
